@model IEnumerable<UI.Models.StoredGoods>

@{
    ViewBag.Title = "StoredGoods";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="page-header">
    <h2>Stored Goods</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="index.html">
                    <i class="fa fa-users"></i>
                </a>
            </li>
            <li><span>Stored Goods</span></li>
        </ol>

        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
    </div>
</header>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <a href="@Url.Action("CreateTransaction", "GoodTransaction")" class="btn btn-primary">
                <i class="fas fa-plus-square"></i> Create Transaction
            </a>
        </div>
    </div>
</div>

<hr />


<div class="row">
    <div class="col-md-12">
        <section class="panel">
            <header class="panel-heading">
                <h2 class="panel-title">Stored Goods</h2>
            </header>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Consigneename)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Consignorname)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.GoodsID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PackageType)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ShipmentType)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Weight)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.GoodsDetails)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Dispatchdate)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Consigneename)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Consignorname)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GoodsID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PackageType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ShipmentType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Weight)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GoodsDetails)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Dispatchdate)
                                </td>
                                <td>@Html.ActionLink("View", "EditConsignee", new { id = item.GoodsID }, new { @class = "btn btn-primary" })
                                    
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </section>

    </div>

</div>